{% extends 'base.html' %}
{% block content %}

<h2>Apply for {{ scholarship.title }}</h2>

{% if error %}
<div class="alert alert-danger">{{ error }}</div>
{% endif %}

<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}

    <input type="text" name="full_name" placeholder="Full Name" class="form-control mb-2" required>
    <input type="email" name="email" placeholder="Email" class="form-control mb-2" required>
    <input type="number" name="marks" placeholder="Marks" class="form-control mb-2" required>
    <input type="number" name="income" placeholder="Income" class="form-control mb-2" required>

    <input type="file" name="document" class="form-control mb-2" required>

    <button class="btn btn-success">Submit</button>
</form>

{% endblock %}